  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: scroll;
    }

  main {
    flex: 1 0 auto;
    }

  nav{
    position: fixed;
    padding:0px 20px;
    z-index: 99999;
    box-shadow: none !important;
    transition: background-color 0.4s ease-out;
    height: 80px;
    line-height: 80px;
    background-image: url("/static/img/nav.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav ul a:hover{
    box-shadow: none;
    font-size: 20px;
    transition: font-size 0.1s ease-out;
    text-decoration: none;
    text-shadow: none;
    background-color: none;
  }

  nav a:visited{
    text-decoration: none;
    decoration: none;
  }

  .nav-center ul {
      text-align: center;
  }
  .nav-center ul li {
      display: inline;
      float: none;
  }
  .nav-center ul li a {
      display: inline-block;
  }


  .mainbooking{
    height: 500px !important;
    background-image: url("/static/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .infobooking{
    height: 90px !important;
    background-image: url("/static/img/nav.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .infosection{
    min-height: 100vh;
    max-height: 150vh !important;
    background-image: url("/static/img/info.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hotelsection{
    min-height: 100vh !important;
    background: white;
  }

  .hotellist{
    height: 300px !important;
  }

  .hotellist img{
    max-height: 300px;
    max-width: 300px;
  }

  .popular{
    min-height: 500px !important;
    background-image: url("/static/img/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  footer{
    background-image: url("/static/img/nav.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card {
     width: 300px !important;
     height: 300px !important;
   }

  .cardstuff {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-left: 60px;
     margin-right: 0%;
   }

   .card-image img{
     height:300px !important;
     width:300px !important;
   }

   .forjq{
     max-height: 100% !important;
     max-width: 100%;
   }

   .contactsec{
     background-image: url("/static/img/nav.jpeg");
     background-repeat: no-repeat;
     background-size: cover;
   }

   hr{
     border: 1px solid black;
   }

   .infofilter{
     background-image: url("/static/img/nav.jpeg");
     background-repeat: no-repeat;
     background-size: cover;
   }

   .indhotellist{
     background-image: url("/static/img/nav.jpeg");
     background-repeat: no-repeat;
     background-size: cover;
   }

   .indhotel{
     z-index: 99999;
   }
   .indhotel img{
     max-height: 150px;
     max-width: 150px;
   }

   .indhotel:hover{
     background: rgba(5, 211, 242, 0.3);
   }

   #checkoutmod{
     background-image: url("/static/img/nav.jpeg");
     background-repeat: no-repeat;
     background-size: cover;
   }

   .modal-footer{
     background-image: url("/static/img/nav.jpeg");
     background-repeat: no-repeat;
     background-size: cover;
   }
