<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AP2</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center black-text darken-4">HOTELIER</a>
    </div>
  </nav>

  <div style="margin-top:80px" class="infobooking">
    <div class="row" style="margin-left:70px">
      <div class="input-field col s4 m4 l4" style="background:white;min-height:50px;border:2px solid black">
        <input placeholder="DESTINATION" value="{{data['location']}}" type="text" id="autocomplete" class="autocomplete">
      </div>
      <div class="input-field col s3 m3 l3 " style="background:white;min-height:50px;border:2px solid black">
        <input id="start" value="{{data['date_from']}}" type="date" class="datepicker" placeholder="FROM">
      </div>
      <div class="input-field col s3 m3 l3 " style="background:white;min-height:50px;border:2px solid black">
        <input id="end" type="date" value="{{data['date_to']}}" class="datepicker" placeholder="TO">
      </div>
      <div class="col s1 m1 l1 " style="margin-top:15px;padding:0px;margin-left: 10px">
        <div class="valign-wrapper center-align">
          <button class="btn btn-large forjq center cyan accent-3 black-text waves-effect"><i class="material-icons center">search</i></button>
        </div>
      </div>
    </div>
  </div>

  <section class="hotelsection">
    <div class="container">
      <div class="row">
        <div class="carousel">
          {% for img in data['img'] %}
            <a class="carousel-item" href="#"><img src="{{img}}"></a>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <h3 class="center">{{data['name']}}</h3>
      </div>
      <br>
      <div class="row" style="border: 0.5px solid black">
        <form class="col s4 m4 l4" style="border-right: 0.5px solid black">
            <div class="input-field col s12">
              <input placeholder="Number Of Adults" id="adults" type="tel" class="validate">
            </div>
        </form>
        <form class="col s4 m4 l4" style="border-right: 0.5px solid black">
            <div class="input-field col s12">
              <input placeholder="Number Of Children" id="children" type="number" class="validate">
            </div>
        </form>
        <div class="col s4 m4 l4 center">
          <button type="button" id="checkout_btn" name="button" value="{{data['hotel_id']}}" onclick="checkoutPage()" class="btn waves-effect cyan accent-3 black-text" style="margin-top: 7%">BOOK NOW!</button>
        </div>
      </div>
      <br>
      <div class="row">
        <p class="center" style="font-size:20px"><b>Description</b></p>
        <p>{{data['info']}}</p>
      </div>
      <hr>
      <div class="row" style="max-height:20vh">
        <p class="center" style="font-size:20px"><b>Property Surroundings</b></p>
        <div class="col s4 m4 l4 left" style="border-right: 1px solid black;max-height:15vh;min-height:15vh; overflow:auto">
          {% for get_there in data['getting_there'] %}
            <p>{{get_there['name']}} - {{get_there['distance']}}</p>
          {% endfor %}
        </div>
        <div class="col s4 m4 l4 left" style="border-right: 1px solid black;max-height:15vh;overflow:auto;min-height:15vh;">
          {% for near_rest in data['nearby_rest'] %}
            <p>{{near_rest['name']}} - {{near_rest['distance']}}</p>
          {% endfor %}
        </div>
        <div class="col s4 m4 l4 left" style="overflow:auto;max-height: 15vh;min-height:15vh;">
          {% for near_attr in data['nearby_attr'] %}
            <p>{{near_attr['name']}} - {{near_attr['distance']}}</p>
          {% endfor %}
        </div>
      </div>
      <hr>
      <div class="row" style="max-height: 15vh">
        <div class="col s6 m6 l6" style="border-right: 1px solid black;overflow:auto;max-height: 15vh">
          <p class="center" style="font-size:20px"><b>Room Features</b></p>
          {% for feature in data['features'] %}
            <p>{{feature}}</p>
          {% endfor %}
        </div>
        <div class="col s6 m6 l6" style="overflow:auto;max-height: 15vh">
          <p class="center" style="font-size:20px"><b>Hotel Amenities</b></p>
          {% for amenity in data['amenities'] %}
            <p>{{amenity}}</p>
          {% endfor %}
        </div>
      </div>
      <hr>
      <div class="row" style="max-height: 30vh; overflow: auto">
        <p class="center" style="font-size:20px"><b>FAQ's</b></p>
        {% for faq in data['faqs'] %}
          <div style="border-bottom: 0.5px solid black">
            <p><b>Q.</b> {{faq['question']}}</p>
            <p><b>Ans.</b> {{faq['answer']}}</p>
          </div>
        {% endfor %}
      </div>
      <hr>
      <div class="row" style="max-height: 50vh; overflow: auto">
        <p class="center" style="font-size:20px"><b>Reviews</b></p>
        {% for comment in data['comments'] %}
          <div style="border-bottom: 0.5px solid black">
            <p><b>{{comment['title']}} <span class="right">{{comment['rating']}} Stars</span></b></p>
            <p><i>{{comment['user']}}</i></p>
            <p>{{comment['body']}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <footer style="padding-top: 0" class="page-footer">
    <div class="footer-copyright">
      <div class="container black-text text-darken-4 footlink">
        © 2019
        <a class="black-text text-darken-4 right footlink" href="/contact">CONTACT US!</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

</body>
</html>
