<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AP2</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">AP2.COM</a>
      <ul id="nav-mobile" class=" right hide-on-med-and-down">
        <li><a class="forjq" href="#!">Contact Us!</a></li>
    </div>
  </nav>

  <section style="min-height: 100vh; margin-top: 90px">
    <div class="mainbooking">
      <div class="container">
        <div class="row" style="padding-top:50px">
          <h3>WHERE DO YOU WANT TO GO NEXT?</h3>
          <p>THE WORLD IS YOUR OYSTER. FROM POSH METRO HOTELS TO HOMELY COUNTRY INNS, EXPLORE THE NATION WITH US!</p>
        </div>
        <div class="row">
          <div class="col s12 m4 l4" style="margin-top:40px;background:white;height:50px;border:2px solid black">

          </div>
          <div class="col s12 m4 l3 " style="margin-top:40px;background:white;height:50px;border:2px solid black">

          </div>
          <div class="col s12 m4 l3 " style="margin-top:40px;background:white;height:50px;border:2px solid black">

          </div>
          <div class="col s12 m4 l1 " style="margin-top:40px;background:white;height:50px;border:2px solid black;padding:0px">
            <button class="btn blue center white-text darken-1" style="width:100%; height: 100%; text-align:center">SEARCH</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer style="padding-top: 0; background: black" class="page-footer">
    <div class="footer-copyright">
      <div class="container white-text text-lighten-4 footlink">
        © 2019
        <a class="white-text text-lighten-4 right footlink" href="/contact">CONTACT US!</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

</body>
</html>
