<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AP2</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center black-text darken-4">HOTELIER.COM</a>
    </div>
  </nav>

  <section style="min-height: 100vh; margin-top: 80px">
    <div class="mainbooking">
      <div class="container">
        <div class="row" style="padding-top:90px">
          <h3>WHERE DO YOU WANT TO GO NEXT?</h3>
          <p>THE WORLD IS YOUR OYSTER. FROM POSH METRO HOTELS TO HOMELY COUNTRY INNS, EXPLORE THE NATION WITH US!</p>
        </div>
        <div class="row">
          <div class="input-field col s12 m4 l4" style="margin-top:43px;background:white;min-height:50px;border:2px solid black">
            <input placeholder="DESTINATION" type="text" id="autocomplete" class="autocomplete">
          </div>
          <div class="input-field col s12 m4 l3 " style="margin-top:43px;background:white;min-height:50px;border:2px solid black">
            <input id="start" type="date" class="datepicker" placeholder="FROM">
          </div>
          <div class="input-field col s12 m4 l3 " style="margin-top:43px;background:white;min-height:50px;border:2px solid black">
            <input id="end" type="date" class="datepicker" placeholder="TO">
          </div>
          <div class="col s12 m4 l1 " style="margin-top:44px;padding:0px;margin-left: 10px">
            <div class="valign-wrapper center-align">
              <button class="btn btn-large forjq center cyan accent-2 black-text waves-effect"><i class="material-icons center">search</i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popular">
      <br>
      <h3 class="center"> POPULAR DESTINATIONS </h3>
      <br>
      <div class="row">
        <div class="col s12 m3 l4">
          <div class="card cardstuff teal">
            <div class="card-image">
                <img src="/static/img/delhi.jpeg">
                <span class="card-title">DELHI</span>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l4">
          <div class="card cardstuff teal">
            <div class="card-image">
                <img src="/static/img/mumbai.jpeg">
                <span class="card-title">MUMBAI</span>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l4">
          <div class="card cardstuff teal">
            <div class="card-image">
                <img src="/static/img/kolkata.jpeg">
                <span class="card-title">KOLKATA</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3 l4">
          <div class="card cardstuff teal">
            <div class="card-image">
                <img src="/static/img/bangalore.jpeg">
                <span class="card-title">BANGALORE</span>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l4">
          <div class="card cardstuff teal">
            <div class="card-image">
                <img src="/static/img/hyderabad.jpeg">
                <span class="card-title">HYDERABAD</span>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l4">
          <div class="card cardstuff teal">
            <div class="card-image">
                <img src="/static/img/chennai.jpeg">
                <span class="card-title">CHENNAI</span>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </section>

  <footer style="padding-top: 0" class="page-footer">
    <div class="footer-copyright">
      <div class="container black-text text-darken-4 footlink">
        © 2019
        <a class="black-text text-darken-4 right footlink" href="/contact">CONTACT US!</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

</body>
</html>
