<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AP2</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center black-text darken-4">HOTELIER</a>
    </div>
  </nav>

  <div style="margin-top:80px" class="infobooking">
    <div class="row" style="margin-left:70px">
      <div class="input-field col s4 m4 l4" style="background:white;min-height:50px;border:2px solid black">
        <input placeholder="DESTINATION" value="{{data['location']}}" type="text" id="autocomplete" class="autocomplete">
      </div>
      <div class="input-field col s3 m3 l3 " style="background:white;min-height:50px;border:2px solid black">
        <input id="start" type="date" class="datepicker" value="{{data['date_from']}}" placeholder="FROM">
      </div>
      <div class="input-field col s3 m3 l3 " style="background:white;min-height:50px;border:2px solid black">
        <input id="end" type="date" class="datepicker" value="{{data['date_to']}}" placeholder="TO">
      </div>
      <div class="col s1 m1 l1 " style="margin-top:15px;padding:0px;margin-left: 10px">
        <div class="valign-wrapper center-align">
          <button class="btn btn-large forjq center cyan accent-3 black-text waves-effect"><i class="material-icons center">search</i></button>
        </div>
      </div>
    </div>
  </div>

  <section class="infosection">
    <h3 class="center">TOP HOTELS IN YOUR LOCATION</h3>
    <div class="row">
      <div class="col s2 m2 l2 infofilter" style="max-height:100vh; margin-left: 20px;border: 2px solid black;">
        <div class="row center" style="margin-top:0px">
          <p class="black-text">FILTER BY</p>
          <hr>
          <div>
            <p class="center"><b>Ratings</b></p>
            <form onchange="getFilterHotels()" action="#">
              <p style="margin-left:-7px">
                <label>
                  <input value="1" name="rating" type="checkbox" />
                  <span class="black-text">1 Star</span>
                </label>
              </p>
              <p>
                <label>
                  <input value="2" type="checkbox" name="rating" />
                  <span class="black-text">2 Stars</span>
                </label>
              </p>
              <p>
                <label>
                  <input value="3" type="checkbox" name="rating"/>
                  <span class="black-text">3 Stars</span>
                </label>
              </p>
              <p>
                <label>
                  <input value="4" type="checkbox" name="rating"/>
                  <span class="black-text">4 Stars</span>
                </label>
              </p>
              <p>
                <label>
                  <input value="5" type="checkbox" name="rating"/>
                  <span class="black-text">5 Stars</span>
                </label>
              </p>
            </form>
          </div>
          <hr>
          <div>
            <p class="center"><b>Amenities and Features</b></p>
            <div class="input-field col s12">
              <select id="amenities" onchange="getFilterHotels()" multiple>
                <option value="" disabled selected>Hotel Perks</option>
                {% for amenity in data['amenities'] %}
                  <option value="{{amenity}}">{{amenity}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input-field col s12">
              <select id="features" onchange="getFilterHotels()" multiple>
                <option value="" disabled selected>Room Features</option>
                {% for feature in data['features'] %}
                  <option value="{{feature}}">{{feature}}</option>
                {% endfor %}
              </select>
            </div>
            <br>
          </div>
          <hr>
          <div>
            <p class="center"><b>Price</b></p>
            <p>Minimum</p>
            <div class="input-field col s12">
              <select id="price_min" onchange="getFilterHotels()">
                <option value="" disabled selected>Minimum Price</option>
                <option value="1000">Rs. 1000</option>
                <option value="5000">Rs. 5000</option>
                <option value="10000">Rs. 10000</option>
                <option value="15000">Rs. 15000</option>
                <option value="20000">Rs. 20000</option>
                <option value="25000">Rs. 25000</option>
                <option value="30000">Rs. 30000</option>
              </select>
            </div>
            <p>Maximum</p>
            <div class="input-field col s12">
              <select id="price_max" onchange="getFilterHotels()">
                <option value="" disabled selected>Maximum Price</option>
                <option value="1000">Rs. 1000</option>
                <option value="2000">Rs. 2000</option>
                <option value="5000">Rs. 5000</option>
                <option value="10000">Rs. 10000</option>
                <option value="15000">Rs. 15000</option>
                <option value="20000">Rs. 20000</option>
                <option value="25000">Rs. 25000</option>
                <option value="30000">Rs. 30000</option>
                <option value="35000">Rs. 35000</option>
                <option value="40000">Rs. 40000</option>
                <option value="45000">Rs. 45000</option>
                <option value="50000">Rs. >50000</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col s10 m10 l8 indhotellist" id="hotellist" style="max-height:100vh;margin-left: 50px; border: 2px solid black; overflow: scroll">
        {% for hotel in data['hotels'] %}
          <div class="indhotel" style="border:2px solid indigo; margin:10px">
            <div class="row">
              <div class="col s3 m3 l3 center" style="margin-top:5%">
                <img src="{{hotel['img']}}" alt="">
                <div class="cyan accent-3" style="width:70px; height:30px; margin-left:35%; margin-top:20px">
                  <p style="color: black" class="valign-center">{{hotel['stars']}} stars</p>
                </div>
                <button value="{{hotel['id']}}" onclick="getHotelDetails(this)" type="button" name="button" class="btn waves-effect cyan accent-3 black-text"style="margin-top: 10px">Show Prices</button>
              </div>
              <div class="col s7 m7 l7">
                  <p style="font-size: 20px" class="black-text"><b>{{hotel['name']}}</b></p>
                  <span class="black-text">{{hotel['city']}}, India</span>
                  <p>{{hotel['info']}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <footer style="padding-top: 0" class="page-footer">
    <div class="footer-copyright">
      <div class="container black-text text-darken-4 footlink">
        © 2019
        <a class="black-text text-darken-4 right footlink" href="/contact">CONTACT US!</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

</body>
</html>
