<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AP2</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center black-text darken-4">HOTELIER</a>
    </div>
  </nav>

  <div style="margin-top:80px" class="infobooking">
    <div class="row" style="margin-left:70px">
      <div class="input-field col s4 m4 l4" style="background:white;min-height:50px;border:2px solid black">
        <input placeholder="DESTINATION" type="text" id="autocomplete" class="autocomplete">
      </div>
      <div class="input-field col s3 m3 l3 " style="background:white;min-height:50px;border:2px solid black">
        <input id="start" type="date" class="datepicker" placeholder="FROM">
      </div>
      <div class="input-field col s3 m3 l3 " style="background:white;min-height:50px;border:2px solid black">
        <input id="end" type="date" class="datepicker" placeholder="TO">
      </div>
      <div class="col s1 m1 l1 " style="margin-top:15px;padding:0px;margin-left: 10px">
        <div class="valign-wrapper center-align">
          <button class="btn btn-large forjq center cyan accent-3 black-text waves-effect"><i class="material-icons center">search</i></button>
        </div>
      </div>
    </div>
  </div>

  <section class="infosection">
    <h3 class="center">TOP HOTELS IN YOUR LOCATION</h3>
    <div class="row">
      <div class="col s2 m2 l2 infofilter" style="max-height:100vh; margin-left: 20px;border: 2px solid black;">
        <div class="row center" style="margin-top:0px">
          <p class="black-text">FILTER BY</p>
          <hr>
          <div>
            <p class="center"><b>Ratings</b></p>
            <form action="#">
              <p style="margin-left:-7px">
                <label>
                  <input type="checkbox" />
                  <span class="black-text">1 Star</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" />
                  <span class="black-text">2 Stars</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" />
                  <span class="black-text">3 Stars</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" />
                  <span class="black-text">4 Stars</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" />
                  <span class="black-text">5 Stars</span>
                </label>
              </p>
            </form>
          </div>
          <hr>
          <div>
            <p class="center"><b>Amenities and Features</b></p>
            <div class="input-field col s12">
              <select multiple>
                <option value="" disabled selected>Hotel Perks</option>
                <option value="1">Free Wi-Fi</option>
                <option value="2">Free Parking</option>
                <option value="3">Car Park</option>
              </select>
            </div>
            <div class="input-field col s12">
              <select multiple>
                <option value="" disabled selected>Room Features</option>
                <option value="1">Air-Conditioned Rooms</option>
                <option value="2">Fireplace</option>
                <option value="3">Housekeeping</option>
              </select>
            </div>
            <br>
          </div>
          <hr>
          <div>
            <p class="center"><b>Price</b></p>
            <p>Minimum</p>
            <div class="input-field col s12">
              <select multiple>
                <option value="" disabled selected>Minimum Price</option>
                <option value="1">Rs. 0</option>
                <option value="2">Rs. 1000</option>
                <option value="3">Rs. 5000</option>
                <option value="4">Rs. 10000</option>
                <option value="5">Rs. 15000</option>
                <option value="6">Rs. 20000</option>
                <option value="7">Rs. 25000</option>
                <option value="8">Rs. 30000</option>
              </select>
            </div>
            <p>Maximum</p>
            <div class="input-field col s12">
              <select multiple>
                <option value="" disabled selected>Maximum Price</option>
                <option value="1">Rs. 1000</option>
                <option value="2">Rs. 2000</option>
                <option value="3">Rs. 5000</option>
                <option value="4">Rs. 10000</option>
                <option value="5">Rs. 15000</option>
                <option value="6">Rs. 20000</option>
                <option value="7">Rs. 25000</option>
                <option value="8">Rs. 30000</option>
                <option value="9">Rs. 35000</option>
                <option value="10">Rs. 40000</option>
                <option value="11">Rs. 45000</option>
                <option value="12">Rs. >50000</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col s10 m10 l8 indhotellist" style="max-height:100vh;margin-left: 50px; border: 2px solid black; overflow: scroll">
        <div class="indhotel" style="border:2px solid indigo; margin:10px">
          <div class="row">
            <div class="col s3 m3 l3 center" style="margin-top:5%">
              <img src="https://media-cdn.tripadvisor.com/media/photo-l/17/e2/9d/b5/srtc-hotel-aspire.jpg" alt="">
              <div class="cyan accent-3" style="width:70px; height:30px; margin-left:35%; margin-top:20px">
                <p style="color: black" class="valign-center">3 stars</p>
              </div>
              <button type="button" name="button" class="btn waves-effect cyan accent-3 black-text"style="margin-top: 10px">Show Prices</button>
            </div>
            <div class="col s7 m7 l7">
                <p style="font-size: 20px" class="black-text"><b>SRTC Hotel Aspire,2240</b></p>
                <span class="black-text">Ahmedabad,India</span>
                <p>Located within 3.4 km of Gandhi Ashram and 5 km of IIM, SRTC Hotel Aspire features rooms with air conditioning and a shared bathroom in Ahmedabad. This 3-star hotel offers a tour desk and ticket service. The accommodation provides a 24-hour front desk, a shuttle service, room service, and free WiFi. At the hotel, each room comes with a desk, a flat-screen TV and a private bathroom. Guests at the SRTC Hotel Aspire can enjoy an Asian breakfast. Sardar Patel Stadium is 9 km from the accommodation, while Adani Group is 2 km away. The nearest airport is Sardar Vallabhbhai Patel International Airport, 17 km from SRTC Hotel Aspire.</p>
            </div>
          </div>
        </div>

        <div class="indhotel" style="border:2px solid indigo; margin:10px">
          <div class="row">
            <div class="col s3 m3 l3 center" style="margin-top:5%">
              <img src="https://media-cdn.tripadvisor.com/media/photo-l/10/b8/22/50/executive-room.jpg" alt="">
              <div class="cyan accent-3" style="width:70px; height:30px; margin-left:35%; margin-top:20px">
                <p style="color: black" class="valign-center">3.5 stars</p>
              </div>
              <button type="button" name="button" class="btn waves-effect cyan accent-3 black-text"style="margin-top: 10px">Show Prices</button>
            </div>
            <div class="col s7 m7 l7">
                <p style="font-size: 20px" class="black-text"><b>Hotel Cosmopolitan</b></p>
                <span class="black-text">Ahmedabad,India</span>
                <p>Located in the heart of bustling city of Ahmedabad, Hotel Cosmopolitan offers 52 spacious rooms with an eclectic blend of contemporary ambience and comfort. This boutique hotel is located just 20 minutes (10 kms) from Ahmedabad airport and 15 minutes (5.5 kms) from the main railway station at Kalupur. The popular shopping and commercial area of C.G. Road in Navrangpura is very close by. Coriander - our restaurant - serves a blend of popular cuisines including North Indian, South Indian, Gujarati, Oriental, Italian and Mexican.</p>
            </div>
          </div>
        </div>

        <div class="indhotel" style="border:2px solid indigo; margin:10px">
          <div class="row">
            <div class="col s3 m3 l3 center" style="margin-top:5%">
              <img src="https://media-cdn.tripadvisor.com/media/photo-l/16/a0/d4/d7/the-ummed-ahmedabad.jpg" alt="">
              <div class="cyan accent-3" style="width:70px; height:30px; margin-left:35%; margin-top:20px">
                <p style="color: black" class="valign-center">5 stars</p>
              </div>
              <button type="button" name="button" class=" btn waves-effect cyan accent-3 black-text"style="margin-top: 10px">Show Prices</button>
            </div>
            <div class="col s7 m7 l7">
                <p style="font-size: 20px" class="black-text"><b>The Ummed Ahmedabad</b></p>
                <span class="black-text">Ahmedabad,India</span>
                <p>The Ummed Ahmedabad, located just 1 km from the airport and in close proximity to the government and developing industrial areas makes this location an apt choice. The Ummed Ahmedabad, is an oasis of warmth and soothing surroundings. Splashes of greens and blue welcome you to our elegantly designed, low-rise property spread over four acres of manicured gardens. The location of hotel is well connected to the old and new business districts of Ahmedabad. Gandhinagar, the state government's seat, is also a short 15 minute drive from the hotel. Feel welcomed in one of the 91 rooms and suites along with gives you a choice of indoor and outdoor venues to host your business or social events. The hotel boasts of ease of access, manicured gardens, world class amenities and customized food and beverage services to create the memorable events. Tastefully appointed using suitable tones, styled with custom made teak furniture and convenient amenities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer style="padding-top: 0" class="page-footer">
    <div class="footer-copyright">
      <div class="container black-text text-darken-4 footlink">
        © 2019
        <a class="black-text text-darken-4 right footlink" href="/contact">CONTACT US!</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

</body>
</html>
